<html>
<head>
<script src="angular.min.js" ></script>
<script>
	function fun1($scope){
		$scope.x=1;
		$scope.y=1;
	
	}
	function fun2($scope){
		$scope.x=2;
		$scope.y=2;
	}

	var a=angular.module("myapp",[]);
	a.controller("ctrl1",fun1);
	a.controller("ctrl2",fun2);
</script>
</head>
<body ng-app="myapp">
<div ng-controller="ctrl1">
  <input ng-model="x"/>
  <input ng-model="y"/>
<span> {{x}} {{y}} </span>
</div>

<div ng-controller="ctrl2">
  <input ng-model="x"/>
  <input ng-model="y"/>
<span> {{x}} {{y}} </span>
</div>

</body>
</html>